{
  "rules": {
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "arrow-parens": ["error", "as-needed"],
    "import/prefer-default-export": "off",
    "global-require": "off",
    "no-underscore-dangle": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-dynamic-require": "off",
    "max-len": [2, 120, 4],
    "no-unused-vars": "warn",
    "space-before-function-paren": [
      2,
      {
        "anonymous": "always",
        "named": "never"
      }
    ],
    "no-use-before-define": [
      2,
      "nofunc"
    ],
    // TODO: turn on later
    "comma-dangle": [
      0
    ]
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "ignoreChainWithDepth": 6,
  "extends": [
    "eslint:recommended",
    "airbnb/base"
  ]
}
