<div class="messages-container" layout="column" layout-align="space-between stretch" layout-fill>
	<div layout="row" layout-align="center" class="md-padding loader-container" ng-show="$ctrl.loadingMessages">
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>

	<md-toolbar class="md-whiteframe-3dp">
		<div class="md-toolbar-tools" tabindex="-1">
			<md-button class="md-icon-button" aria-label="show chats" ng-click="$ctrl.tglSidenav();" hide-gt-sm>
				<md-icon class="material-icons">menu</md-icon>
			</md-button>
			<div flex></div>
			<h2>{{ $ctrl.chat.title }}</h2>
			<div flex></div>
			<md-button aria-label="Send file" class="md-icon-button">
				<md-icon class="material-icons" md-menu-origin>attach_file</md-icon>
			</md-button>
			<md-menu md-position-mode="target-right bottom" md-offset="-200 20">
				<md-button aria-label="Open chat menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
					<md-icon class="material-icons" md-menu-origin>more_vert</md-icon>
				</md-button>
				<md-menu-content width="4">
					<md-menu-item ng-show="$ctrl.chat.owner === $root.loggedUser.profile.username">
						<md-button>
							<md-icon class="material-icons" md-menu-align-target>settings</md-icon>
							Manage chat
						</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button>
							<md-icon class="material-icons" md-menu-align-target>call_missed_outgoing</md-icon>
							Leave
						</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button class="md-warn">
							<md-icon class="material-icons" md-menu-align-target>delete</md-icon>
							Delete chat
						</md-button>
					</md-menu-item>

				</md-menu-content>
			</md-menu>
		</div>
	</md-toolbar>

	<md-virtual-repeat-container md-top-index="$ctrl.messagesTopIndex" md-colors="{background: 'grey-A100' }" flex>
		<div md-virtual-repeat="message in $ctrl.messages" layout="row" flex>
			<div flex ng-if="message.author == $root.loggedUser.profile.username"></div>
			<md-card class="md-padding message-box" md-colors="$ctrl.getMsgColors(message)">
				<label ng-if="$ctrl.messages[$index - 1].author !== message.author && message.author !== $root.loggedUser.profile.username">
          <b>{{message.author}}</b>
        </label>
				<p>{{message.text}}</p>
				<small><time-ago from-time="{{ message.date }}" format="MM/dd/yyyy '@' HH:mm"></time-ago></small>
			</md-card>
		</div>
	</md-virtual-repeat-container>
	<md-toolbar class="md-whiteframe-3dp">
		<div class="md-toolbar-tools">
			<form name="$ctrl.messageForm" ng-submit="$ctrl.sendMessage();" layout="row" layout-align="start center" flex="100">
				<md-input-container class="no-margin sidenav-search" md-theme="dark" md-no-float md-no-asterisk flex>
					<input ng-maxlength="1000" required name="text" ng-model="$ctrl.text" placeholder="Enter a message ..." autocomplete="off">
				</md-input-container>
				<md-button class="md-icon-button" type="submit" aria-label="Send">
					<md-icon class="material-icons">send</md-icon>
				</md-button>
			</form>
		</div>
	</md-toolbar>
</div>