/******* CONFIG *******/

@messageBackground: black;

/**********************/

body {
  background-color: lightgrey;
}

.textRight {
  text-align: right;
}

.no-margin {
  margin: 0;
}

.text-center {
  text-align: center;
}

.signup-form-person {
  font-size: 100px;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.signup-left-pane {
  margin-top: 15px;
  font-size: 100px;
  width: 100px;
  height: 100px;
}

.chats-container {
  height: ~"calc(100vh - 65px)";
}

.chats-container md-content {
  padding-left: 0px;
  padding-right: 0px;
}

.chats-container .md-button {
  width: 100%;
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.messages-container {
  height: ~"calc(100vh - 65px)";
  width: 100%;
}

.message-toolbar {
  position: fixed; 
  left:0; 
  bottom:0;
}

.message-toolbar md-input-container {
  margin-top: 8px;
}

.message-toolbar md-button {
  margin-top: 5px;
}